
.nav-bar{
  color: #d4e8ee;
  background-color: thistle;
  font-style: italic;
  font-weight: 700;
 display: flex;
 flex-direction: column;
 justify-content: center;

 
}
.header-icon{
  display: flex;
   flex-direction: column;
  justify-content: space-around; 
}
.navbar-img{
  width: 150px;
  margin-left: 10px ;
}