
.nav-bar .navLink{
  color: #107897ad;
  background-color: thistle;
  font-style: italic;
  font-weight: 700;
 display: flex;
 flex-direction: column;
 justify-content: center;

 
}
.nav-bar{
  color: #03171d;
  background-color: thistle;
  font-style: italic;
  font-weight: 700;
 display: flex;
 flex-direction: column;
 justify-content: center;

 
}
.header-icon .navLink{
  display: flex;
   flex-direction: column;
  justify-content: space-around; 
}
.navbar-img{
  width: 150px;
  margin-left: 10px ;
}