.footer{
  padding-left: 70px;
  padding-top: 40px;
  background-color: rgb(51, 50, 50);
  color: rgb(91, 233, 197);
}
.footer > div:first-child{
  display: flex;
}
.footer > div > *{
  width: 33.33%;
}

 .footer .callNow{
  width: 150px;
  padding: 10px 10px;
  color: white;
  border-radius: 5px;
} 
.brandIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 
}


@media only screen and (max-width: 771px) {
  .footer{
      padding-left: 20px;
  }
  .footer .brandIcon > *{
      margin-right: 5px;
      height: 20px;
      width: 20px;
  }
  .footer .callNow{
      width: 100px;
      padding: 5px 5px;
      font-size: 12px;
  }
}

@media only screen and (max-width: 441px) {
  .footer small{
      font-size: 10px;
  }
}